.bodyContainer {
  background: #f4f9ff;
  height: 100%;
  margin-left: 2%;
  margin-top: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}
.container {
  margin: 0 auto;
  width: 90%;
}

.col-1 {
  width: 6.333333333%;
  margin: 0 1%; /* trái phải trừ 1% */
  float: left; /* để lưới nằm ngang */
}

.col-2 {
  width: 14.66666667%;
  margin: 0 1%; /* trái phải trừ 1% */
  float: left; /* để lưới nằm ngang */
}

.col-3 {
  width: 23%;
  margin: 0 1%; /* trái phải trừ 1% */
  float: left; /* để lưới nằm ngang */
}

.col-4 {
  width: 31.33333333%;
  margin: 0 1%; /* trái phải trừ 1% */
  float: left; /* để lưới nằm ngang */
}

.col-5 {
  width: 39.66666667%;
  margin: 0 1%; /* trái phải trừ 1% */
  float: left; /* để lưới nằm ngang */
}

.col-6 {
  width: 48%;
  margin: 0 1%; /* trái phải trừ 1% */
  float: left; /* để lưới nằm ngang */
}

.col-7 {
  width: 56.33333333%;
  margin: 0 1%; /* trái phải trừ 1% */
  float: left; /* để lưới nằm ngang */
}

.col-8 {
  width: 64.66666667%;
  margin: 0 1%; /* trái phải trừ 1% */
  float: left; /* để lưới nằm ngang */
}

.col-9 {
  width: 73%;
  margin: 0 1%; /* trái phải trừ 1% */
  float: left; /* để lưới nằm ngang */
}

.col-10 {
  width: 81.33333333%;
  margin: 0 1%; /* trái phải trừ 1% */
  float: left; /* để lưới nằm ngang */
}

.col-11 {
  width: 89.66666667%;
  margin: 0 1%; /* trái phải trừ 1% */
  float: left; /* để lưới nằm ngang */
}

.col-12 {
  width: 98%;
  margin: 0 1%; /* trái phải trừ 1% */
  float: left; /* để lưới nằm ngang */
}

.inputField1 {
  display: flex;
  margin-bottom: 40px;
}
.inputField1 > div.col-6 > div,
.inputField1 > div.col-6 > select {
  margin-left: 60px;
}

.inputField1 > div.col-6 {
  display: flex;
  padding: 0;
}

.inputField2 {
  margin-bottom: 40px;
  display: flex;
}
.inputField2 > div.col-6 > div,
.inputField2 > div.col-6 > select {
  margin-left: 60px;
}

.inputField2 > div.col-6 {
  display: flex;
  padding: 0;
}

.formInput {
  width: 90%;
  background: #ffffff;
  height: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 20px;
  margin-left: 5%;
}

.line-Area {
  display: flex;
}
.line-Area div {
  margin-bottom: 20px;
}
/* .buttonField button {
  padding: 5px 80px;
  margin: 0px 20px;
  border: none;
  border-radius: 8px;
  color: white;
  background: #66c4e1;
} */
.buttonField input {
  padding: 5px 80px;
  margin: 0px 32px;
  border: none;
  border-radius: 8px;
  color: white;
  background: #66c4e1;
}
.buttonField {
  margin-top: 20px;
  margin-left: 35%;
}

.selectBar {
  width: 75%;
  font-size: 16px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background: #ffffff;
  border: none;
  font-family: Lato;
  padding-left: 10px;
  outline: none;
}
select {
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png")
    white no-repeat 98.5% !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select:required:invalid {
  color: #dadada;
  font-size: medium;
  padding: 0px 6px;
  font-family: Lato;
}

option[value=""][disabled] {
  display: none;
}
option {
  color: #000;
  font-family: Lato;
}

.DayPickerInput input {
  border: none;
  outline: none;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  width: 100%;
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png")
    white no-repeat 98.5% !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  padding-left: 10px;
}

.DayPickerInput input::placeholder {
  opacity: 0.2;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
}
