.inputPassword {
  background-image: url("../../assets/person.png");
  background-repeat: no-repeat;
  padding-left: 35px;
  height: 44px;
  width: 320px;
  display: flex;
  background-position: 2% 50%;
  margin-left: 20%;
  margin-top: 1vh;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
}

.emailField,
.userIDField,
.passwordField {
  margin-top: 1vw;
}

.resetPassword {
  background-image: url("../../assets/person.png");
  background-position-x: 2%;
  background-position-y: center;
}
.hideshowBtn {
  background-image: url("../../assets/eye.png");
  /* background: url("../../assets/eye.png"); */
  width: 29px;
  height: 12px;
  float: right;
  right: 120px;
  bottom: 28px;
  position: relative;
}

.otp div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 10px;
}
.containerChangePassword {
  display: flex;
  margin-left: 30%;
}

img.imgField {
  margin-top: 277px;
  width: 387px;
  height: 326px;
}
.containerPassScreen {
  display: flex;
  margin-left: 154px;
}

.containerPassScreen > div {
  margin-left: 126px;
  margin-top: 130px;
}
