.inputPassword {
  background-image: url("../../assets/person.png");
  background-repeat: no-repeat;
  padding-left: 35px;
  height: 44px;
  width: 320px;
  display: flex;
  background-position: 2% 50%;
  margin-left: 20%;
  margin-top: 5px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.emailField,
.userIDField,
.passwordField {
  margin-top: 20px;
}

.resetPassword {
  background-image: url("../../assets/person.png");
  background-position-x: 2%;
  background-position-y: center;
}
.hideshowBtn {
  background-image: url("../../assets/eye.png");
  /* background: url("../../assets/eye.png"); */
  width: 29px;
  height: 12px;
  float: right;
  right: 120px;
  bottom: 28px;
  position: relative;
}

.otp div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 10px;
}
.containerChangePassword {
  display: flex;
  margin-left: 30%;
}

img.imgField {
  margin-top: 277px;
  width: 387px;
  height: 326px;
}
.containerPassScreen {
  display: flex;
  margin-left: 154px;
}

.containerPassScreen > div {
  margin-left: 126px;
  margin-top: 130px;
}

.passScreen {
  width: auto;
  height: 110vh;
  margin-left: 2%;
  margin-top: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  background: linear-gradient(
    180deg,
    rgba(244, 249, 255, 0.0001) 0%,
    #f4f9ff 26.23%
  );
}
.formPass {
  background: #ffffff;
  width: 531px;
  height: 499px;

  box-shadow: 10px 10px 40px #698f9b;
  border-radius: 8px;
  margin-top: 59px;
  margin-left: 35px;
}

.textPass {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 85px;
  color: #1f2041;
  position: relative;
  left: 115px;
}

.textTypePass {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-align: right;
  left: 1116px;
  position: absolute;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}

.titlePass {
  width: 415px;
  height: 43px;
  font-family: Poly;
  font-style: normal;
  margin-left: 20%;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  margin-top: 65px;
  color: #04044e;
}
.smallTitlePass {
  text-align: center;
  height: 30px;
  margin-bottom: 14px;
  font-family: Poly;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #04044e;
}
.checkField > span,
.checkField > input {
  position: relative;
  margin-left: 10px;
}

.checkField {
  margin-top: 4px;
  margin-left: 118px;
}
.buttonPass {
  width: 228px;
  height: 54px;
  background: #262f56;
  border-radius: 6px;
  margin-top: 30px;
  font-family: Poly;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
  margin-left: 152px;
}

.eyeIcon {
  width: 29px;
  height: 12px;
  float: right;
  right: 120px;
  bottom: 28px;
}
.popup-content {
  text-align: center;
  width: 34vw !important;
  height: 74vh;
  font-family: Poly;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  text-align: center;

  color: #04044e;
}
.popup-content > img {
  display: block;
  position: relative;
  left: 33%;
  margin-top: 14.3%;
  margin-bottom: 7%;
}
.popup-content > button {
  display: block;
  margin-top: 15%;
  margin-left: 28%;
}
