.profileimage{
    background-color:#525285;/* of the container */
    width:150px; /* of the container */
    height:150px; /* of the container */
    position: relative;
    border-radius: 50%;
    margin-left: 25px;
}