.image{
    width:300px;
    height:150px;
    background-color: #525285;
    box-shadow: 0px 5px 5px rgba(107, 179, 202, 0.5);
    border-radius: 21px;
    margin-top: 20px;
    margin-left: 50px;
    padding: 20px;
    
}
input[type="file"] {
    display: none;
}