.dashboard {
    background-color: rgba(229,233,238, 0.5);
    width: 100vw;
    height: 110vh;
    display:flex;
    
}
.outer {
    background-color:rgba(255, 255, 255, 0.31);
    width:13.5vw; /* You can define it by % also */
    height:25vh; /* You can define it by % also */
    border:1px solid black;
    margin-left: 0.2cm;
    margin-top: 0.2cm;
    border-top-right-radius: 2cm;
    border-bottom-left-radius: 2cm;
    border-bottom-right-radius: 2cm;
}
    
.inner {
    background-color:rgba(255, 255, 255,);
    top: 13%; left:15%; /* of the container */
    width:70%; /* of the container */
    height:75%; /* of the container */
    position: relative;
    border:2px solid #FFFFFF;
    border-radius: 50%;
}
.total{
    background-color: #FFFFFF;
    width: 250px;
    height: 100px;
    margin-left: 70px;
    display:flex;
    flex-direction: column;
    box-shadow: 2px 5px 5px rgba(211, 211, 211, 0.47);
    border-radius: 5px;
    
}
.smallbox {
    background-color:#66C4E1;
    width:50px; 
    height:50px; 
    border-radius: 50%;
    margin-left:40px;
    box-shadow: 2px 2px 5px rgba(211, 211, 211, 0.47);
}
.calendar {
    background-color:#FFFFFF;
    width:45vh; 
    height:65vh;
    margin-left: 90px;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgba(211, 211, 211, 0.47);
    border-radius: 6px;
    display:flex;
    
}
.ticket {
    background-color:#FFFFFF;
    width:80vh; 
    height:65vh; 
    margin-left: 70px;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgba(211, 211, 211, 0.47);
    display:flex;
    flex-direction: column;
    border-radius: 6px;
    
}
.ticketcolumn{
    width:80%; /* You can define it by % also */
    height:10vh; /* You can define it by % also */
    margin-top:10px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 5px rgba(211, 211, 211, 0.47);
    display:flex;
    border-radius:0.2cm;
    
}
.display{
    display: flex;
    flex-direction: column;
}

