.login-page {
    background-image: url('https://s3-assets.eastidahonews.com/wp-content/uploads/2020/07/14160542/classroom-860x573.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
}