.form{
    background: linear-gradient(180deg, rgba(244, 249, 255, 0.0001) 0%, #F4F9FF 26.23%);
    width: 82vw;
    height: 92vh;
    margin-left: 15px;
    margin-top:15px;
    display:flex;

}
.section{
    width:150px;
    font-size: 18px;
    color:#262F56;
}
.box{
    width:20vw;
    height:30px;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border: 0px solid white;
    border-radius: 4px;
    padding-left:20px;
    
}


.button{
    width:200px;
    height:40px;
    background: #66C4E1;
    color:#FFFFFF;
    font-size: 14px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    border: 0px solid white;
    margin-left: 30px;
    text-align: center;
}
.attachment{
    width:10vw;
    height:30px;
    background: #9583C7;
    color:#DADADA;
    font-size: 13px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border: 0px solid white;
    border-radius: 4px;
    padding-top: 5px;
    text-align: center;
   
  
}

.eventList{
    
    width: 58vw;
    height: 45vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 17%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    
}
.headereventList{
    width: 58vw;
    height: 10vh;
    color:#0F1E36;
    padding-left: 15px;
    font-size: 12px;
    display: flex;
    align-items: center;
    
}
