.loginForm {
  width: 33vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 22vh;
  margin-left: 54vw;
  border-radius: 5px;
  background-color: white;
  position: absolute;
}

.title {
  margin-top: 1em;
  margin-bottom: 2em;
}
